<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="bundle.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <title>Customers</title>
</head>

<style>
  body {
    background-color: lightblue;
  }
</style>

<body>
  
  <div class="jumbotron jumbotron-fluid" style="color: white; background-color: rgb(28, 16, 190);">
    <div class="container">
      <h1><strong>eKunder</strong></h1>
      <p>Hold dig opdateret med kunderne</p>
    </div>
  </div>

  <div id="app">
    <h2>Søg efter kunderne</h2>

    <!--2021-10-27 Knappen her henter en samling af kunder-->
    <button id="getAllButton" v-on:click="getAllCustomers" class="btn btn-primary">Alle Kunder</button>

    <br />
    
    <input v-model="searchToGetBy" placeholder="navn, adresse, email, etc." type ="text"/>
    <!--2021-10-27 Knappen her henter en samling af kunder, ud fra det der er indtastet i søgefeltet-->
    <button v-on:click="getBySearch(searchToGetBy)" class="btn btn-primary">Søg</button>

    <ul id="customerlist" v-if="customers.length">
      <li v-for="customer in customers">
        <table class="table-striped table-bordered table-hover">
          <colgroup>
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 13%;">
            <col span="1" style="width: 13%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 6%;">
            <col span="1" style="width: 6%;">
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 8%;">
         </colgroup>
          <thead>
            <tr>
              <th>Kunde nr.</th>
              <th>Navn</th>
              <th>Email</th>
              <th>Adresse</th>
              <th>By</th>
              <th>Land</th>
              <th>Post nr.</th>
              <th>Telefon nr.</th>
              <th>Valuta</th>
              <th>CVR</th>
            </tr>
          </thead>
          <tr>
            <!--2021-10-27 Knappen her henter en samling af produkter ud fra kundenummer-->
            <td button v-on:click="getByCustomerNr(customer.customerNr)">{{customer.customerNr}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.addresse}}</td>
            <td>{{customer.townCity}}</td>
            <td>{{customer.country}}</td>
            <td>{{customer.postNr}}</td>
            <td>{{customer.telefonNr}}</td>
            <td>{{customer.currency}}</td>
            <td>{{customer.cvr}}</td>
          </tr>
        </table>
        <!--2021-10-27 Knappen her sletter en kunde-->
        <button v-on:click="deleteCustomer(customer.customerNr)" class="btn btn-warning">Slet</button>
        <!--2021-10-27 Linket fører over til en side der skaber et produkt, og tager kundens kundenummer med sig og indsætter i feltet på siden-->
        <a :href="'https://eproducts.azurewebsites.net/index.htm?customerNr='+customer.customerNr">Indsæt kundens vare</a>
      </li>
    </ul>
    <div v-else>Ingen kunder</div>
    {{deleteMessage}}

    <!--2021-10-27 Knappen her fører over til en side hvor man kan skabe en kunde-->
    <Button onclick="document.location= 'https://ecustomercreate.azurewebsites.net'" class="btn btn-success">Skab en ny kunde</button>

    <ul id="productList" v-if="products.length">
      <li v-for="product in products">
        <table class="table-striped table-bordered table-hover">
         <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
         </colgroup>
         <thead>
          <tr>
            <th>Vare ID</th>              
            <th>Vare nr.</th>
            <th>Kunde nr.</th>
            <th>Faktura nr.</th>
            <th>Serie nr.</th>
          </tr>
         </thead>
        <tr>
          <td>{{product.productId}}</td>
          <td>{{product.productNr}}</td>
          <td>{{product.customerNr}}</td>
          <td>{{product.invoiceNr}}</td>
          <td>{{product.serialNr}}</td>
        </tr>
        </table>
        <!--2021-10-27 Linket fører over til side der opdater et produkt, og overfører produkts id, produktnummer, kundenummer, og fakturanummer i de tomme felter på siden-->
        <a :href="'https://updateproduct.azurewebsites.net/index.htm?productId='+product.productId + '&productNr='+product.productNr + '&customerNr='+product.customerNr + '&invoiceNr='+product.invoiceNr">Indsæt manglende serienummer</a>
      </li>
    </ul>
    <div v-else>Ingen varer</div>

    <h2>Opdatere kunderne</h2>
    <input v-model.number="updateData.customerNr" placeholder="Kundenummer" type="number" />
    <input v-model="updateData.name" placeholder="Navn" type="text" />
    <input v-model="updateData.email" placeholder="E-mail" type="text" />
    <input v-model="updateData.addresse" placeholder="Adresse" type="text" />
    <input v-model="updateData.townCity" placeholder="By" type="text" />
    <input v-model="updateData.country" placeholder="Land" type="text" />
    <input v-model.number="updateData.postNr" placeholder="Postnummer" type="number" />
    <input v-model.number="updateData.telefonNr" placeholder="Telefonnummer" type="number" />
    <input v-model="updateData.currency" placeholder="Valuta" type="text" />
    <input v-model.number="updateData.cvr" placeholder="CVR" type="number" />
    <!--2021-10-27 Knappen her henter opdater en kunde-->
    <button v-on:click="updateCustomer()" class="btn btn-success">Opdater</button>
    <div>{{updateMessage}}</div>


  </div>
  <script src="bundle.js"></script>
</body>

</html>
